
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
    
}
.formr{
    background-color: rgba(43, 43, 43, 0.623);
    color: aliceblue;
    width: 450px;
    height: 450px;
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    border-radius:20px 20px 20px 20px;
    position: relative;
    
    

}

.signin{
    background-color: rgba(43, 43, 43, 0.623);
    color: aliceblue;
    width: 450px;
    height: 450px;
    margin-top: 100px;
    margin-left: 450px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    border-radius:20px 20px 20px 20px;
    position: relative;
}
.border-res{
    background-color:  rgba(43, 43, 43, 0.623);
    color: white;
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    border-radius:20px 20px 20px 20px;
    
}
.border-res h2{
    text-decoration: underline;
}
.border-res a{
    color: rgb(0, 0, 0); 
    background-color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;

}

.tour{
    background-color:rgba(43, 43, 43, 0.623);
    color: white;
    width: 1250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    border-radius:20px 20px 20px 20px;
}
.tour1 h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}
.tour1 h2{
    text-align: center;
    text-transform: capitalize;
    
}
 
.menu{
    background-color:  rgba(43, 43, 43, 0.623);
    color: white;
    width: 500px;
    height: 250px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    
    padding-top: 1px;
    padding-left: 1px;
    border-radius:20px 20px 20px 20px;
    display: inline-block;
    
    
}
.menu h4{
    text-decoration: underline;
    text-decoration-color:black;
}
.menu p{
    color: #ffffff;
    font-size: 35px;
    padding-top: 50px;

}
.formd{
    background-color: rgba(43, 43, 43, 0.623);
    color: aliceblue;
    width: 400px;
    height: 450px;
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
    padding-top: 1px;
    padding-left: 50px;
    border-radius:20px 20px 20px 20px;
    position: relative;
}
.formd h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);}
    



nav{
    height: 80px;
    width: 100%;
    background:#24262b;
    
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    font-family:'Poppins', sans-serif ;
    color: white;
    padding: 0 10px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display:inline;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
nav a:hover{
    border: 1px solid white;
    transition: .5s;
}
.about{
    display: inline-block;
}
.about h3{
    text-decoration: underline;
    text-decoration-color: black;
    text-transform: capitalize;
    font-size: 50px;
        
}
.about p{
    font-size: 20px;
}
.about ul li{
    font-size: 20px;
}
.about h1{
    text-align:center;
    text-decoration: underline;
    text-decoration-color: black;
}
.about img{
    float: right;
    border-radius: 15px 15px 15px 15px;
}


.home h1{
        
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    text-transform: capitalize;
    font-size: 50px;
    }
.home{
    display: inline;
    align-items: center;
}
.home >img{
    
   
    border-radius: 15px ;
    object-fit: cover;
    transition: all 1s ease;
}
.home img:hover{
    transform: scale(1.5);
}
.home1 a{
    text-decoration: solid ;font-family: fantasy; font-size: 40px;padding-left: 500px;
}
.orderre{
    margin-bottom: 150px;
    margin-top: 100px;
    
    text-align: center;
    
}
    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
footer{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
    
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col p{
    color: #bbbbbb;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
    
    /*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}
    
    
    
    
       