<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/in.css">
    <style>
        body{
            background: linear-gradient(#71c9ce,#85dfe7,#cbf1f5,#e3fdfd);
        }
    </style>

        
        
    
</head>
<body>
    <nav>
        <label class="logo"><span style="color: #b6f3f3;">platez</span><span style="color: black;font-size:20px">.com</span></label>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="reservation.html">Reservation</a></li>
            <li><a href="menu.html">Special</a></li>
            <li><a href="tourisht spot.html">Tourist Spot</a></li>
            <li><a href="about.html">About us</a></li>
        </ul>
    </nav><br><br>
    <div class="about">
    <h1>About PIONEER GRAND PALACE</h1>
    <h3>The begining</h3>
    <img src="static/img/info.jpg" alt="" width="550px" height="400px" >
    
    <p>Hotel Pioneer Grand Palace is situated in the heart of Nagercoil Town, which is 70 Kms away from Thiruvanathapuram International airport, the train station is just 10 minutes’ drive from the hotel and whereas the bus station is quite nearby 5 minutes’ drive only and free from traffic. Many government offices and shopping malls are nearby.The four storied building is with 58 well appointed guest rooms in two executive floors including superior suites, executive and deluxe rooms. Pioneer Grand Palace is standalone as the first and largest hotel in Kanyakumari Dist, provides four star facilities to all its guests. The hotels’ European architectural style, elegant décor, facilities and services are unparallel to any hotels in Nagercoil /Kanyakumari.</p>
    <h3>Hotel information</h3>
    <ul>
        <li>Check-in & Check-out Time: 24:00 Hrs</li>
        <li>Complimentary WiFi for All Members</li>
        <li>Best Prices Guaranteed</li>
        <li>Free parking</li>
    </ul>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Services</h4>
                    <p>Monday-sunday *24 hrs</p>
                 <h4>food court </h4>
                 <p>Monday-Sunday <br> 8am-10pm</p>
                </div>
                <div class="footer-col">
                    <h4>Know-more </h4>
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li><a href="reservation.html">reservation</a></li>
                        <li><a href="menu.html">special</a></li>
                        <li><a href="tourisht spot.html">Tourist spot</a></li>
                        <li><a href="about.html">about us</a></li>
                    </ul>
                </div><br><br><br><br>
                <div class="footer-col">
                    <h4>Reach-us</h4>
                    <p><span style="color: rgb(56, 163, 250);">location:</span> Distillery Road,vadasery <br>Nagercoil-629001. <br>Tamilnadu,INDIA.</p>
                    <p><span style="color: rgb(56, 163, 250);"> Tel:</span> 4652272036</p>
                    <p><span style="color: rgb(56, 163, 250);" > email:</span>enquiry@Hotelinternational.com</p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
   </footer>
</body>
</html>