<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/in.css">
    <style>
        body{
            background: linear-gradient(#71c9ce,#85dfe7,#cbf1f5,#e3fdfd);
        }
    </style>
    
</head>
<body>
    <nav>
        <label class="logo"><span style="color: #b6f3f3;">platez</span><span style="color: black;font-size:20px">.com</span></label>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="reservation.html">Reservation</a></li>
            <li><a href="menu.html">Special</a></li>
            <li><a href="tourisht spot.html">Tourist Spot</a></li>
            <li><a href="about.html">About us</a></li>
        </ul>
    </nav><br><br>
    <div class="home">
        <h1>Welcome to pioneer grand palace</h1>
        
        <br><br>
        <br><br><br>
    
        
        <img src="static/img/tour.PNG" alt="" width="300px" height="300px">
        <img src="static/img/info.jpg" alt="" width="300px" height="300px">
        <img src="static/img/ac hall.jpg" alt="" width="300px" height="300px" >
        <img src="static/img/non ac hall.jpg" alt=""width="300px" height="300px">
        <img src="static/img/bed.jpg" alt="" width="300px" height="300px">
        <img src="static/img/waffil 1.jpg" alt="" width="300px" height="300px">
        <img src="static/img/chocolate.jpg" alt="" width="300px" height="300px">
        <img src="static/img/bar.jpeg" alt="" width="300px" height="300px">
        <img src="static/img/group.jpg" alt="" width="300px" height="300px">
        <img src="static/img/lassi.jpg" alt="" width="300px" height="300px">
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Services</h4>
                    <p>Monday-sunday *24 hrs</p>
                 <h4>food court </h4>
                 <p>Monday-Sunday <br> 8am-10pm</p>
                </div>
                <div class="footer-col">
                    <h4>Know-more </h4>
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li><a href="reservation.html">reservation</a></li>
                        <li><a href="menu.html">special</a></li>
                        <li><a href="tourisht spot.html">Tourist spot</a></li>
                        <li><a href="about.html">about us</a></li>
                    </ul>
                </div><br><br><br><br>
                <div class="footer-col">
                    <h4>Reach-us</h4>
                    <p><span style="color: rgb(56, 163, 250);">location:</span> Distillery Road,vadasery <br>Nagercoil-629001. <br>Tamilnadu,INDIA.</p>
                    <p><span style="color: rgb(56, 163, 250);"> Tel:</span> 4652272036</p>
                    <p><span style="color: rgb(56, 163, 250);" > email:</span>enquiry@Hotelinternational.com</p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
   </footer>
</body>
</html>