<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/in.css">
    <style>
        body{
            background: linear-gradient(#71c9ce,#85dfe7,#cbf1f5,#e3fdfd);
            
        }
    </style>
    
</head>
<body>
    <nav>
        <label class="logo"><span style="color: #b6f3f3;">platez</span><span style="color: black;font-size:20px">.com</span></label>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="reservation.html">Reservation</a></li>
            <li><a href="menu.html">Special</a></li>
            <li><a href="tourisht spot.html">Tourist Spot</a></li>
            <li><a href="about.html">About us</a></li>
        </ul>
    </nav><br><br>
    <div class="tour1">
    <h1>TOURIST SPOTS</h1><br><h2>PLACES TO VISIT IN NAGERCOIL IS TO DECIDE WHAT TO LIST AND WHAT TO SKIP FROM AMONGST THE DIFFERENT LOVELY NAGERCOIL & KANYAKUMARI TOURIST PLACES.</h2></div>
    <div class="tour">
        <img src="static/img/tour.PNG" alt="" style="float:left ;" width="500px" height="400px">
        <h3>Vivekananda Rock Memorial</h3>
        <p>In 1892, Swami Vivekananda is said to have meditated on this rocky outcrop before he started his philosophical journey. Vivekananda Rock Memorial was built in 1970. It is reached by a government-run ferry. If you thought Kanyakumari is water, water and only water, you are partly right. Partly, not wholly. The numerous places of attraction, each with a unique speciality of its own is something you may find unexpected in the place but once you start exploring it, you will be immersed in it, without even realising it yourself. The southernmost tip of the country is where Swami Vivekananda attained enlightenment and this immense, majestic memorial is in honour of the great soul who is loved and revered not only by Indians but also by the rest of the world. A single footprint can be seen on the rock inside the shrine.</p>

    </div>
    <div class="tour">
        <img src="static/img/tour 4.jpg" alt="" style="float:left ;" width="500px" height="400px">
        <h3>Thanumalayan Temple</h3>
        <p>This temple is best described as a temple of wonders and delights. Starting with the beautiful white and pink Nandi (Shiva’s bull) made of ground shells and conches, going on to sculptures with nails glowing in transparency under sunlight, or a Ganesha in the female aspect called “Vigneshwari”, and then the musical pillars and the Navagraha fixed on the ceiling. Propitiate the huge Hanuman here (approx 18 ft), known to be powerful and wish fulfilling.</p>
        
    </div>
    <div class="tour">
        <img src="static/img/tour 2.jpg" alt="" style="float:left ;" width="500px" height="400px">
        <h3>Keeriparai Reserve Forest</h3>
        <p>Keeriparai Reserve Forest is one of the must-visit attractions of Kanyakumari. All you need is a water bottle and a comfortable pair of shoes and, of course, the excitement and the energy. With this ticked, bear a distance of 40 km from Kanyakumari and 30 km from Nagercoil to stand in the threshold of a unique world of lions, elephants and pythons, among the other species of faunas. The floras are also not-to-be-missed part as many plant varieties of this forest is said to be used in the preparation of Siddha medicine, a form of ayurvedic treatment. As the mango, jackfruit, coconut hides the sparkling streams and the smaller s hrubs bearing colourful flower, you will be tempted to join in the game and to seek out the treasures of the forest.</p>
        
    </div>
    <div class="tour">
        <img src="static/img/tour 3.jpg " alt="" style="float:left ;" width="500px" height="400px">
        <h3>Vattakottai Fort</h3>
        <p>Vattakotai Fort is a perfect place for a lazy picnic — with an 18th-century circular fort, some terrific views from its top and a good beach. A popular tourist spot with the azure blue sea on one side and the majestic Western Ghats on the other makes the location of this ancient fort a treat for the eyes. The granite fort is in contrast with the beautiful well-kept green lawns and the pond of clear water in the middle, inside the fort. The combination of the colours of grey, green and blue is sure to mesmerise you for the whole day. On the north of the fort are clearly visible white windmills, offering a sight that in spite of being mundane, adds to the whole visual impact that the fort provides. So, don’t miss out any small detail. You might not realise it but those tiny things when combined with the cool sea breezes, make a visit to Vattakottai Fort one of the most amazing experiences.</p>
        
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Services</h4>
                    <p>Monday-sunday *24 hrs</p>
                 <h4>food court </h4>
                 <p>Monday-Sunday <br> 8am-10pm</p>
                </div>
                <div class="footer-col">
                    <h4>Know-more </h4>
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li><a href="reservation.html">reservation</a></li>
                        <li><a href="menu.html">special</a></li>
                        <li><a href="tourisht spot.html">Tourist spot</a></li>
                        <li><a href="about.html">about us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Reach-us</h4>
                    <p><span style="color: rgb(56, 163, 250);">location:</span> Distillery Road,vadasery <br>Nagercoil-629001. <br>Tamilnadu,INDIA.</p>
                    <p><span style="color: rgb(56, 163, 250);"> Tel:</span> 4652272036</p>
                    <p><span style="color: rgb(56, 163, 250);" > email:</span>enquiry@Hotelinternational.com</p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
   </footer>
</body>
</html>